services:
  postgres:
    image: postgres:16
    container_name: postgres-habit
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: HABITTRACKERDB
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: